.service-icons {
  padding: 0 2rem;
  margin-top: 1rem;
  width: 100%;
  // min-height: 20rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 5rem;
  align-items: center;
  justify-content: center;
}
