@import "../../styles/style.scss";
.mobile-menu {
  background-color: $white;
  width: 270px;
  height: 100vh;
  position: fixed;
  transition: all 0.3s ease-in-out;
  z-index: 301;
  padding: 20px;
  &--close {
    opacity: 0;
    top: 0;
    left: -300px;
  }
  &--open {
    opacity: 1;
    top: 0;
    left: 0;
  }
}
