@import "../../../styles/style.scss";

.dashboard-order-item__icon {
  &__check {
    color: $success-color;
    cursor: pointer;
    & > svg:hover {
      transform: scale(1.1);
    }
  }
  &__delete {
    margin-left: 3rem;
    color: $danger-color;
    cursor: pointer;
    & > svg:hover {
      transform: scale(1.1);
    }
  }
}
