@import "../../../styles/style.scss";

.dashboard-order {
  margin-top: 1rem;
  &__title {
    width: 100%;
    min-height: 2rem;
    padding: 1rem;
    background-color: $white;
    @include boxShadow;
    font-size: 1.1rem;
    font-family: $roboto;
    font-weight: 400;
    color: $title-color;
  }
  &__content {
    margin-top: 1rem;
    width: 100%;
    background-color: $white;
    @include boxShadow;
    &__orders {
      width: 100%;
      font-size: 0.9rem;
      thead {
      }
    }
  }
}
