@import "../../styles/style.scss";
.hamburger-menu {
  width: 30px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &--top {
    width: 100%;
    height: 3px;
    background-color: $white;
  }
  &--middle {
    width: 100%;
    height: 3px;
    background-color: $white;
  }
  &--bottom {
    width: 100%;
    height: 3px;
    background-color: $white;
  }
  //background-color: $white;
  @include atSmall {
    display: none;
  }
}
