@mixin atSmall {
  @media (min-width: 520px) {
    @content;
  }
}
@mixin atMedium {
  @media (min-width: 800px) {
    @content;
  }
}
@mixin atlarge {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin sectionPadding {
  height: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

@mixin listStyleColumn {
  padding: 5px;
  list-style: none;
  a {
    text-decoration: none;
    font-family: $roboto;
    color: $dark-gray;
    transition: color 0.3s ease;
    &:hover {
      color: $text-color;
    }
  }
}

.wrapper {
  padding-left: 5px;
  padding-right: 5px;
  @include atSmall {
    padding-left: 20px;
    padding-right: 20px;
  }
  @include atMedium {
    padding-left: 50px;
    padding-right: 50px;
  }
}
