@mixin atSmall {
  @media (min-width: 520px) {
    @content;
  }
}
@mixin atMedium {
  @media (min-width: 800px) {
    @content;
  }
}
@mixin atlarge {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin sectionPadding {
  height: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.wrapper {
  padding-left: 5px;
  padding-right: 5px;
  @include atSmall {
    padding-left: 20px;
    padding-right: 20px;
  }
  @include atMedium {
    padding-left: 50px;
    padding-right: 50px;
  }
}
