@import "../../styles/style.scss";
.cards {
  //background-color: aqua;
  width: 100%;
  padding-top: 1.5rem;
  height: 18rem !important;
  padding-bottom: 0%;
  //margin-top: 40px;
  //margin: 20px;
}
