@import "../../../../styles/style.scss";

.category-details {
  display: flex;
  flex-direction: row;
  &__left {
    width: 50%;
    & > figure {
      width: 80%;
      height: 15rem;
      & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &__content {
    width: 50%;
    &__btn {
      text-align: center;
    }
    &__name {
      display: flex;
      width: 100%;
      flex-direction: column;
      & > input {
        padding: 10px;
        width: 100%;
        background: none;
        border: 1px solid $pale-gray;
        outline: none;
        margin-bottom: 10px;
        border-radius: 5px;
        &:hover {
          border-color: $dark-gray;
        }
        &::placeholder {
          font-weight: 500;
          font-family: $roboto;
        }
      }
    }
    &__desc {
      display: flex;
      width: 100%;
      flex-direction: column;
      & > textarea {
        padding: 10px;
        width: 100%;
        background: none;
        border: 1px solid $pale-gray;
        outline: none;
        height: 15rem;
        margin-bottom: 10px;
        border-radius: 5px;
        overflow-y: scroll;
        &:hover {
          border-color: $dark-gray;
        }
        &::placeholder {
          font-weight: 500;
          font-family: $roboto;
        }
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
}
