@import "../../styles/style.scss";

.header {
  width: 100%;
  padding: 20px 0;
  background-color: $primary-color;
  transition: 0.3s ease;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  &--transparent {
    background-color: transparent;
  }
}

.hide-on-mobile {
  display: none;

  @include atSmall {
    display: block;
  }
}

.fixed-header {
  background-color: $primary-color;
  position: fixed;
  z-index: 300;
  background-color: transparent;
}
.sticky-header {
  background-color: $primary-color;
  padding: 10px 0;
  position: fixed;
  z-index: 300;
  @include atSmall {
  }
}
