@import "../../../styles/style.scss";

.service-cards {
  @include sectionPadding;
  & > &__content {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}
