@import "../../styles/style.scss";
.tutorial {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: $main-gradient;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
  column-gap: 1.2rem;
  row-gap: 1.2rem;
  @include atSmall {
    grid-template-columns: 1fr 1fr;
  }
  @include atMedium {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
