@import "../../styles/style.scss";
.tutorial {
  @include sectionPadding;
  background: $main-gradient;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  @include atSmall {
    flex-direction: row;
  }
  &__video {
    width: 80%;
    height: auto;
    @include atSmall {
      width: 49.5%;
    }
    @include atMedium {
      width: 33%;
    }
  }
}
